<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S-Cone Counter</title>
</head>
<body>
<p>You have reached the site for the joint Intelligent Systems Engineering
and School of Optometry cone counter application.</p>
<p>To upload a new csv file to be counted, please add /app/run to the
    end of the URL you used to get here.
</p>
<p>To upload a new csv file to be used in retraining the model,
    add /app/retrain to the end of the URL you used to get here
</p>
</body>
</html>
